<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Spotify Playlists</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Your Spotify Playlists</h1>
    <div class="playlist-div">
        {% for pl in playlists %}
        <div class="playlist-item">
        {% if pl.image %}
            <img src="{{ pl.image }}" alt="Playlist cover" width="150" style="vertical-align: middle;">
        {% endif %}
        <div class="playlist-text">
            <h2>
                {{ pl.name }}
            </h2>
            <div class="playlist-links">
                <a href="{{ url_for('spotify.play_playlist', playlist_id=pl.id) }}">Play</a> -
                <a href="{{ pl.url }}" target="_blank">Open in Spotify</a>
            </div>
        </div>

        </div>
    {% endfor %}
    </div>
    <br>
    <a href="{{ url_for('spotify.logout') }}">Logout</a>
</body>
</html>
